<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{body}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>

</div>
 {{#if comments.length}}
        {{#each comments as |comment|}}
        {{> comments}}
        {{/each}}
 {{/if}}
{{#if logged_in}}

<form class="comment-form" id="comment-form">
        <div class="input-field">
            <label>Comment:</label>
            <textarea type="text" id="comment" rows="20" placeholder="What's on your mind?"></textarea>
        </div>
        <input type="hidden" name="post-id" value="{{id}}">
        <button type="submit">Add Comment</button>
    </form>
  

{{/if}}

<script src="/js/comments.js"></script>


